{% capture bg-image-style %}
{% if section.bg-color != nil or section.bg-opaque-overlay != nil or section.bg_image != nil %}
  style="background:
  {% if section.bg-color != nil %}
   {{ section.bg-color }}
  {% endif %}
  {% if section.bg-opaque-overlay != nil %}
   linear-gradient({{ section.bg-opaque-overlay }},{{ section.bg-opaque-overlay }}),
  {% endif %}
  {% if section.bg_image != nil %}
   url('{{ section.bg_image }}') center center fixed; background-size: cover;
  {% endif %}
  "
{% endif %}
{% endcapture %}

<section class="section section-{{ section.title | slugify }}" {{ bg-image-style }}>
  {% if section.title == 'Contributions' %}
  <div class="main-content shadowbox">
  {% elsif section.title == 'Connect' %}
  <div class="main-content halfbox">
  {% else %}
  <div class="main-content">
  {% endif %}
    {{ section.content }}
  </div>

  {% if section.title == 'Connect' %}
    <!-- twitter box -->
    <div class="twitterbox">

    <!-- twitter timeline -->
    <!-- not working since twitter/X anymore ... only single post seems to work
    <a class="twitter-timeline" data-height="300" data-dnt="true" data-theme="dark" href="https://twitter.com/specfem?ref_src=twsrc%5Etfw">Tweets by specfem</a>
    -->

    <!-- twitter single post -->
    <blockquote class="twitter-tweet" data-lang="en" data-dnt="true" data-theme="dark">
    <p lang="en" dir="ltr">2024 Taiwan earthquake - shakemovie simulation w/ USGS finite-fault solution and IRIS EMC velocity model (FWEA18)
    <a href="https://twitter.com/hashtag/specfem3d?src=hash&amp;ref_src=twsrc%5Etfw">#specfem3d</a>
    <a href="https://twitter.com/hashtag/science?src=hash&amp;ref_src=twsrc%5Etfw">#science</a>
    <a href="https://twitter.com/hashtag/TaiwanEarthquake?src=hash&amp;ref_src=twsrc%5Etfw">#TaiwanEarthquake</a>
    <a href="https://twitter.com/hashtag/USGS?src=hash&amp;ref_src=twsrc%5Etfw">#USGS</a>
    <a href="https://twitter.com/hashtag/IRIS?src=hash&amp;ref_src=twsrc%5Etfw">#IRIS</a>
    <a href="https://twitter.com/hashtag/blender?src=hash&amp;ref_src=twsrc%5Etfw">#blender</a>
    <a href="https://twitter.com/hashtag/b3d?src=hash&amp;ref_src=twsrc%5Etfw">#b3d</a>
    <a href="https://t.co/V18yGCVzsy">pic.twitter.com/V18yGCVzsy</a>
    </p>&mdash; specfem (@specfem)
    <a href="https://twitter.com/specfem/status/1775645032764076479?ref_src=twsrc%5Etfw">April 3, 2024</a>
    </blockquote>

    <!-- put in head: see _layouts/main.html
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    -->
    </div>
  {% endif %}
</section>
