<!-- parallax -->
<div class="parallax">
  <div class="parallax_layer parallax_layer_back">
    <!-- carousel background -->
    <div class="img_background">
      <div class="carousel-container">
        <div class="carousel-image">
          <video loop muted autoplay playsinline poster="figures/banner_earth.jpg" class="background-video">
              <source src="/figures/banner_earth.mp4" type="video/mp4">
              <source src="/figures/banner_earth.webm" type="video/webm">
          </video>
        </div>
        <div class="carousel-image img2"></div>
        <div class="carousel-image img3"></div>
        <div class="carousel-image img4"></div>
        <div class="carousel-image img5"></div>
      </div>
    </div>
    <!-- scroll down animation -->
    <div id="scroll-down"></div>
  </div>
  <!-- title -->
  <div class="parallax_layer parallax_layer_front">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    <a href="https://github.com/SPECFEM" class="btn">View on GitHub</a>
  </div>
</div>
