<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#AAA">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'figures/favicon.ico' | relative_url }}">
    <!-- bsky box -->
    <script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
  </head>
  <body onload="myPreloader()">
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    
    <section class="page-header">
      <div id="loader-pulse"></div>
      {% include nav.html %}
      {% include parallax.html %}
    </section>

    <section class="section section-main">
      <div class="main-content shadowbox">
        {{ content }}
      </div>
    </section>

    {% assign sections = site.frontsections | sort: 'order' %}
    {% for section in sections %}
      {% if section.include != null %}
        {% include {{ section.include }} %}
      {% else %}
        {% include sections/front-default.html %}
      {% endif %}
    {% endfor %}

    <section class="page-footer">
      {% include footer.html %}
    </section>

    <!-- preloader animation -->
    <script>
      var preloader = document.getElementById('loader-pulse');
      var scroller = document.getElementById('scroll-down');
      function myPreloader() {
        preloader.style.display = 'none';
        scroller.style.display = 'block';
      }
    </script>

    <!-- reveal element by scrolling into view -->
    <script>
      function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
          var windowHeight = window.innerHeight;
          var elementTop = reveals[i].getBoundingClientRect().top;
          var elementVisible = 100; /* amount of pixels to be into viewport before revealing */

          if (elementTop < windowHeight - elementVisible) {
            reveals[i].classList.add("active");
          } else {
            reveals[i].classList.remove("active");
          }
        }
      }
      window.addEventListener("scroll", reveal);
    </script>
  </body>
</html>
